.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 15%;
}

.item {
  width: 100%;
  margin: 2%;
}

.item:first-child {
  margin-bottom: 5%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.coffeeButton {
  background: #634832;
  color: #ffffff;
  border-radius: 10px;
  width: 145px;
  height: 50px;
  border: none;
  margin: 5%;
}
