.content {
  display: flex;
  gap: 7%;
  width: 100%;
}

.kanjiSquareMaxSize {
  width: 100%;
  max-height: 200px;
  max-width: 200px;
}

.kanjiSquare {
  width: 100%;
  background: #ece0d1;
  border-radius: 10px;
  margin: 5% 0;
}

.kanji {
  text-align: center;
  font-size: 3rem;
  padding: 30%;
}

.infoItem {
  margin: 5% 0;
}

.infoHeading {
  text-decoration: underline;
  font-weight: 600;
}

.helperText {
  font-size: 0.7rem;
}
