.footer {
  background: #967259;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 10%;
  max-height: 9vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.icon {
  font-size: 1.3rem;
}

.copyright {
  font-size: 0.8rem;
}
